<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to  "Murat Karakaya's Github Repo", "https://github.com/Miraz86", class: "text-white" %></small>
    </div>
</footer>